<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Lincard</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/three@0.160.0/build/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script> -->

  <style>
    * {
      font-family: "Noto Sans KR", sans-serif;
    }
  </style>
</head>

<body class="bg-slate-100 min-100vh">
  {% include 'components/navbar.html' %}

  <main>
    {% block content %}
    {% endblock %}

    <div id="modal" class="hidden fixed inset-0 w-screen h-screen z-50 bg-[rgba(0,0,0,0.1)]">
      <div class="modal-content flex items-center justify-center h-full">
        {% block modal %}
        {% endblock %}
      </div>
    </div>
  </main>

  {% block script %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% endblock %}
</body>

</html>