{% extends "base.html" %}
{% import "components/card.html" as card_comp %}
{% import "components/recommends.html" as recommends_comp %}

{% block content %}
<div class="flex flex-col gap-7 items-center pt-1">

  {% if not error %}
  {{ card_comp.card(feed) }}
  {{ recommends_comp.recommends(recommends) }}
  {% else %}
  {{ error }}
  {% endif %}

  {% if not error %}
  <div class="flex items-center gap-5">
    <button class="
    cursor-pointer border border-gray-300 text-xl bg-white px-12 py-4 rounded-xl 
    opacity-{{ 50 if error else 100 }}
    active:scale-{{ 100 if error else 95 }}">
      팔로우
    </button>
    <form action="{{url_for('main.swip')}}">
      <button class="
    cursor-pointer text-xl bg-blue-400 text-white px-12 py-4 rounded-xl 
    opacity-{{ 50 if error else 100 }}
    active:scale-{{ 100 if error else 95 }}">
        스윕
      </button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}