{% extends "base.html" %}
{% block content %}
<div class="w-fit mx-auto py-24 relative">
    <form action="/api/auth/login" method="post" class="flex gap-5">
        <div class="flex flex-col gap-3">
            <div class="flex items-center">
                <label class="w-24 pr-3 text-right " for="email">이메일</label>
                <input type="text" name="email" class="border p-1 rounded-md" value="{{ form.email if form else '' }}">
            </div>

            <div class="flex items-center">
                <label class="w-24 pr-3 text-right " for="password">패스워드</label>
                <input type="password" name="password" class="border p-1 rounded-md"
                    value="{{ form.password if form else '' }}">
            </div>
        </div>
        <button type="submit" class="border rounded-sm px-5 cursor-pointer">로그인</button>
    </form>

    {% if error %}
    <p style="color: red" class="absolute bottom-0">{{ error }}</p>
    {% endif %}

    <div class="flex">
        <div class="w-24 pr-3 text-right"></div>
        <a href="/signup">회원가입</a>
    </div>
</div>
{% endblock %}