{% extends "base.html" %}
{% import "components/recommends.html" as recommends_comp %}

{% block content %}
<section>
    <header class="flex justify-between px-20 pt-10 items-center">
        <h1 class="text-3xl font-medium">
            추천자료 설정
        </h1>
        <button onclick="onSave()"
            class="cursor-pointer text-xl bg-blue-400 text-white px-12 py-4 rounded-xl transition-all active:scale-95">
            저장
        </button>

    </header>
    <main class="mx-auto w-fit">
        {{ recommends_comp.recommends(recommends, True) }}
    </main>
</section>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/my_recommends.js') }}"></script>
{% endblock %}