{% extends "base.html" %}
{% import "components/card.html" as card_comp %}

{% block content %}
<section>
    <header class="flex justify-between px-20 py-10 items-center">
        <a href="/mypage/recommends">
            <button class="border  border-gray-300 cursor-pointer rounded-xl p-4 px-12 bg-white">
                추천자료 설정
            </button>
        </a>
        <button onclick="onSaveMyCard()"
            class="cursor-pointer text-xl bg-blue-400 text-white px-12 py-4 rounded-xl active:scale-95">
            저장
        </button>

    </header>
    <main class="mx-auto w-fit">
        {{ card_comp.card(user, True) }}
    </main>
</section>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}

{% block modal %}
{% include 'components/avatar_modal.html' %}
{% endblock %}