{% extends "base.html" %}
{% import "components/card.html" as card_comp %}

{% block content %}
<section>
    <header class="flex justify-between px-20 py-10">
        <a href="/mypage/recommends">
            <button class="border cursor-pointer rounded-sm p-2 px-5">
                추천자료 설정
            </button>
        </a>
        <button onclick="onSave()" class="border cursor-pointer rounded-sm p-2 px-5">
            저장
        </button>

    </header>
    <main class="mx-auto w-fit">
        {{ card_comp.card(user, True) }}
    </main>
</section>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}