{% extends "base.html" %}
{% block content %}
<div class="signup w-fit mx-auto py-24 relative">
    <div class="flex flex-col gap-5">
        <form action="/api/auth/sign-up" method="post" class="flex flex-col w-[400px] mx-auto gap-5">
            <div class=" flex flex-col gap-2">
                <label class="text-xl font-medium" for="email">이메일</label>
                <input type="text" value="{{ form.email if form else '' }}" name="email"
                    class="border border-gray-300 bg-white p-2 rounded-md" />
            </div>

            <div class=" flex flex-col gap-2">
                <label class="text-xl font-medium" for="password">패스워드</label>
                <input type="password" name="password" value="{{ form.password if form else '' }}"
                    class="border border-gray-300 bg-white p-2 rounded-md">
            </div>

            <div class=" flex flex-col gap-2">
                <label class="text-xl font-medium" for="pwdchk">패스워드 확인</label>
                <input type="password" name="pwdchk" value="{{ form.pwdchk if form else '' }}"
                    class="border border-gray-300 bg-white p-2 rounded-md">
            </div>

            <button type="submit" class=" rounded-lg px-8 py-2 bg-blue-500 text-white cursor-pointer">가입하기</button>
        </form>

        {% if error %}
        <p style="color: red" class="absolute bottom-0">{{ error }}</p>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}