{% extends "base.html" %}
{% block content %}
<div class="signup w-fit mx-auto py-24 relative">
    <div class="flex flex-col gap-5 ">
        <form action="/api/auth/sign-up" method="post" class="flex flex-col gap-1">
            <div class="flex items-center">
                <label class="w-28 text-right pr-3 " for="email">이메일</label>
                <input type="text" value="{{ form.email if form else '' }}" name="email" class="border p-1 rounded-md">
            </div>

            <div class="flex items-center">
                <label class="w-28 text-right pr-3 " for="password">패스워드</label>
                <input type="password" name="password" value="{{ form.password if form else '' }}"
                    class="border p-1 rounded-md">
            </div>

            <div class="flex items-center">
                <label class="w-28 text-right pr-3 " for="pwdchk">패스워드 확인</label>
                <input type="password" name="pwdchk" value="{{ form.pwdchk if form else '' }}"
                    class="border p-1 rounded-md">
            </div>

            <button type="submit" class="border rounded-sm px-5 py-2 cursor-pointer mt-5">가입하기</button>
        </form>

        {% if error %}
        <p style="color: red" class="absolute bottom-0">{{ error }}</p>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}